<div class="modal fade " id="static" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 676px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">تغییر رمز عبور</h4>
            </div>
            <div class="modal-body  ">

                <div class="change-password-modal-box position-relative p-5 text-center width-custom-log">


                    <form method="post" id="changePassForm" action="#">
                        {{ change_pass_form.hidden_tag() }}

                        {{ macros.render_form_field(change_pass_form.password)}}

                        {{ macros.render_form_field(change_pass_form.new_Password)}}

                        {{ macros.render_form_field(change_pass_form.confirm_password)}}


                        <div class="mt-3">
                            {{change_pass_form.submit(class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none w-100 d-block") }}
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <a href="/Account/ForgetPassword"
                            class="text-secondary text-center text-decoration-none">فراموشی اطلاعات کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>