
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog"style="min-width: 676px;">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">ویرایش اطلاعات پایه</h4>
        </div>
        <div class="modal-body" >
            <div class="container-fluid mb-4">
                <form method="post" action="" runat="server" enctype="multipart/form-data">
                    <div class="form-row pt-2 col-md-12 d-inline-flex justify-content-center w-100 mx-auto align-items-center">
                        <div class="col row d-flex justify-content-center">
                            <div class="avatar">
                                <div class="center avatar-bg" id="OpenImageUpload" style=" background-image: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);"></div>
                                <a href="#" onclick="getPicture()">
                                    <img id="blah" class="center avatar-img" src="#" alt="your image"/>
                                </a>
                            </div>
                      <input type="file" id="imgupload" asp-for="Photo" style="display: none">
                            {{ form.img() }}    
                        </div>
                        <div class="col">

                            {{ macros.render_form_Edith_User_info(form.username)}}

                            {{ macros.render_form_Edith_User_info(form.email)}}
                            
                            {{ macros.render_form_Edith_User_info(form.phonenumber)}}

                            <div class="form-row text-right">
                                <div class="form-group col-12 col-md-6 col-lg-6 text-right">
                                   <!-- <div class=" text-right">
                                        <span for="firstName">نام:</span>
                                        <input type="text" id="firstName" asp-for="FirstName" class="form-control form-control-add-book">
                                       
                                    </div>-->
                                    {{ macros.render_form_Edith_User_info(form.firstname)}}
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-6 text-right">
                                   <!-- <div class=" text-right">
                                        <span for="lastName">نام خانوادگی:</span>
                                        <input type="text" id="lastName" asp-for="LastName" class="form-control form-control-add-book">
                                       
                                    </div>-->
                                    {{ macros.render_form_Edith_User_info(form.lastname)}}
                                </div>
                            </div>
                            <div class="form-row text-right d-flex justify-content-center">
                                <div class="form-group col-md-6 col-xl-6 col-lg-6 col-12">
                                    {{ macros.render_form_Edith_User_info(form.state)}}
                                   
                                </div>
                                <div class="form-group col-md-6 col-xl-6 col-lg-6 col-12">
                                    {{ macros.render_form_Edith_User_info(form.city)}}
                                    
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="text-center">
                                  <!--  <button type="button" onclick="submitEdit()" class="see-more-btn px-5 py-1 text-dark text-center text-decoration-none mt-2">ثبت</button>-->
                                    {{ form.submit(class="see-more-btn px-5 py-1 text-dark text-center text-decoration-none mt-2") }}

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
      </div>
    </div>
  </div> 