<!-- FOOTER -->
<footer class="mb-5 pb-4 mb-md-0 pb-md-0">
  <div class="container-fluid px-0">
    <div class="footer py-4 pl-4 pr-90px text-right">
      <!-- <img class="mr-md-5" src="assets/images/logo book ned-Recovered.png" width="100" height="51" alt="Logo"> -->
      <img
        class="mr-md-5"
        src="{{ url_for('static', filename='img/logo.png') }}"
        width="100"
        height="51"
        alt="Logo"
      />
    </div>
  </div>
</footer>
<!-- ENF FOOTER -->
