<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fas fa-bars text-dark"></span>
    </button>
    <a class="navbar-brand ml-lg-5" href="{{ url_for('home_bp.index') }}">
      <!-- <img src="assets/images/logo book ned-Recovered.png" width="100" height="51" alt="Logo"> -->
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        width="100"
        height="51"
        alt="Logo"
      />
    </a>
    <div class="text-center mr-lg-5 w-100-540">
      <form method="" action="">
        <label class="sr-only" for="inlineFormInputGroup">جستجو</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control-search"
            name="input-search"
            id="inlineFormInputGroup"
            placeholder="جستجو..."
          />
          <div class="input-group-prepend">
            <button
              class="search-btn"
              title="جستجو"
              name="search-btn"
              type="submit"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex mt-3 mt-lg-0 align-items-center">
        <div class="d-flex box-center box-log-in px-4 py-1 ml-3">
          {% if current_user == 0 %}
          <a
            href="{{ url_for('auth_bp.register') }}"
            class="text-decoration-none text-secondary mx-1"
            >ثبت نام</a
          >
          <span>/</span>

          <a
            href="{{ url_for('auth_bp.login') }}"
            class="text-decoration-none text-secondary mx-1"
            >ورود</a
          >
          {% else %} خوش آمدی {{ current_user }} {% endif %}
        </div>
        <a
          href="{{ url_for('profile_bp.profile') }}"
          class="text-decoration-none text-secondary mx-1"
        >
          <!-- <img src="assets/images/baseline_account_circle_black_48dp.png" alt="account"> -->
          <img
            src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}"
            alt="account"
          />
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- END HEADER -->
