<div>
    <div class="row mt-3 mt-lg-0 align-items-center justify-content-between w-100 mx-auto">
        <div class="col-6 align-items-center d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}" class="d-none d-md-block" width="70"
                height="70" alt="account">
            <div class="d-flex box-center box-log-in px-4 py-1 ml-3">
                    <span>نام کاربری</span>
                   
                </div>
            </div>
           
        </div>
    </div>