<!--PROFILE DROP DOWN MENU-->
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
<div>
  <div
    class="
      row
      mt-3 mt-lg-0
      align-items-center
      justify-content-between
      w-100
      mx-auto
    "
  >
    <div class="col-6 align-items-center d-flex align-items-center">
      <img
        src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}"
        class="d-none d-md-block"
        width="70"
        height="70"
        alt="account"
      />
      <div class="box-center box-log-in py-1 mr-0 mr-md-3">
        <a
          href="#"
          class="
            nav-link
            dropdown-toggle
            text-decoration-none text-secondary
            px-3
          "
          id="navbarDropdownUser"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >حساب {{ current_user }}|
        </a>
        <div
          class="dropdown-menu text-right"
          aria-labelledby="navbarDropdownUser"
        >
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#staticBackdrop"
            >ویرایش اطلاعات کاربری</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#static"
            >تغییر رمز عبور</a
          >

          <div class="dropdown-divider"></div>
          <li class="d-flex justify-content-between align-items-center pl-3">
            <a class="dropdown-item" href="#">کتاب های امانت داده شده</a>
            <span class="badge badge-secondary">14</span>
          </li>
          <div class="dropdown-divider"></div>
          <li class="d-flex justify-content-between align-items-center pl-3">
            <a class="dropdown-item" href="#">کتاب های امانت گرفته شده</a>
            <span class="badge badge-secondary">14</span>
          </li>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">خروج</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--END PROFILE DROP DOWN MENU-->
