{% import 'macros.html' as macros %}
<div class="dec-book mb-5 px-lg-5">
  <div class="px-lg-5 pb-5 mb-5 mt-15 book-chest-show">
    <div class="container position-relative">
      <div class="row px-4">
        {% for item in items %} {{ macros.render_private_shelf_item(item)}} {%
        endfor %}
      </div>
      <div class="position-chest">
        <img
          src="{{ url_for('static', filename='img/chest.png') }}"
          class="w-100"
          alt="chest"
        />
      </div>
    </div>
  </div>

  <div class="text-left px-lg-5 mt-4">
    <button
      class="
        btn-load-book
        see-more-btn
        px-3
        py-1
        text-secondary text-decoration-none
      "
    >
      نشان دادن بیشتر
    </button>
  </div>
</div>
<!-- END SHELF -->
