{% import 'macros.html' as macros %}
<!-- COMMENT -->
<div class="text-right mb-5 mb-lg-0 pb-5 pb-lg-0">
  <span class="font-2rem">نظرات:</span>
  {{ macros.render_comments(comments)}}
  <div class="text-left px-lg-5 mt-4">
    <button
      class="
        btn-load-comment
        see-more-btn
        px-3
        py-1
        text-secondary text-decoration-none
      "
    >
      نشان دادن بیشتر
    </button>
  </div>
</div>
<!-- END COMMENT -->
