<div class="row mt-3 mt-lg-0 align-items-center justify-content-between">
    <div class="col-12 col-md-6 align-items-center mt-3">
     <div class="d-flex align-items-center">
       <img src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}" width="70" height="70" alt="account">
       <div class="d-flex box-center box-log-in px-4 py-1 mr-3">
         <a href="#" class="text-decoration-none text-secondary px-3">{{ username }} </a>
       </div>
     </div>
    </div>
     <div class="col-12 col-md-6 p-4 mt-3 text-center text-md-left">
        <!-- star box rating -->
        {% include '/components/star-rating-box.html' %}
     </div>
    </div>
 </div>
