    <!-- SIDEBAR -->
    <div class="sidebar sidebar-log-in">
        <div class="pt-md-4">
          <a href="{{ url_for("home_bp.index") }}" class="text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/baseline_home_black_48dp.png') }}" alt="home" width="40" height="40">
        </a>
        </div>
        <div class="pt-md-4">
          <a href="addbook.html" class="text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/magnifier.png') }}" alt="add" width="35" height="35">
           </a>
        </div>
        <div class="pt-md-4">
          <a href="{{ url_for("profile_bp.profile") }}" class="text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/twotone_face_black_48dp.png') }}" alt="profile" width="40" height="40">
        </a>
    </div>
    <div class="pt-md-4">
        <a href="{{ url_for("home_bp.idea") }}" class="text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/add.png') }}" alt="recommend" width="40" height="40">
           </a>
        </div>
        <div class="pt-md-4">
          <a href="addbook.html" class="text-decoration-none text-dark">
            <img src="{{ url_for('static', filename='img/book.png') }}" alt="add" width="35" height="35">
           </a>
        </div>

      </div>
      <!-- END SIDEBAR -->
