<div class="col-md-12 heroSlider-fixed">
  <!-- Slider 1-->
  <div class="slider responsive">
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black">
        <img
          src="assets/images/4692185602701564.jpg"
          height="150"
          width="100"
          class="w-100 img-slider"
          alt="Book | کتاب"
        />
      </a>
    </div>
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black">
        <img
          src="assets/images/images.jpg"
          height="150"
          width="100"
          class="w-100 img-slider"
          alt="Book | کتاب"
        />
      </a>
    </div>
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black">
        <img
          src="assets/images/images (1).jpg"
          height="150"
          width="100"
          class="w-100 img-slider"
          alt="Book | کتاب"
        />
      </a>
    </div>
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black">
        <img
          src="assets/images/6701643057778123.jpg"
          height="150"
          width="100"
          class="w-100 img-slider"
          alt="Book | کتاب"
        />
      </a>
    </div>
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black">
        <img
          src="assets/images/REBEKA.jpg"
          height="150"
          width="100"
          class="w-100 img-slider"
          alt="Book | کتاب"
        />
      </a>
    </div>
    <div class="px-7">
      <a href="#" class="text-decoration-none text-black"></a>
      <img
        src="assets/images/8153564537814758.jpg"
        height="150"
        width="100"
        class="w-100 img-slider"
        alt="Book | کتاب"
      />
    </div>
  </div>
</div>
