<!-- STAR RATING BOX -->
<div class="text-right px-md-5 mt-4">
  <div class="text-dark btn-profile p-1 d-flex box-goal-star">
    <div dir="ltr" class="px-2">
      <input type="radio" class="star-icon" name="stars" id="star-null" />
      <input
        type="radio"
        class="star-icon"
        name="stars"
        id="star-1"
        onClick="checkbox();"
        value="20"
      />
      <input
        type="radio"
        class="star-icon"
        name="stars"
        id="star-2"
        onClick="checkbox();"
        value="40"
      />
      <input
        type="radio"
        class="star-icon"
        name="stars"
        id="star-3"
        onClick="checkbox();"
        value="60"
      />
      <input
        type="radio"
        class="star-icon"
        name="stars"
        id="star-4"
        checked
        onClick="checkbox();"
        value="80"
      />
      <input
        type="radio"
        class="star-icon"
        name="stars"
        id="star-5"
        onClick="checkbox();"
        value="100"
      />
      <section class="section-star">
        <label for="star-1" class="mb-0">
          <svg width="255" height="240" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
          </svg>
        </label>
        <label for="star-2" class="mb-0">
          <svg width="255" height="240" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
          </svg>
        </label>
        <label for="star-3" class="mb-0">
          <svg width="255" height="240" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
          </svg>
        </label>
        <label for="star-4" class="mb-0">
          <svg width="255" height="240" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
          </svg>
        </label>
        <label for="star-5" class="mb-0">
          <svg width="255" height="240" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
          </svg>
        </label>
      </section>
    </div>
    <div class="border-r px-3">
      <span id="show" name="stars">80</span><span>%</span>
    </div>
  </div>
</div>
<!-- END STAR RATING BOX -->
