{% import 'macros.html' as macros %}

{% extends '/layouts/main-base.html' %}

{% block page_style %}
<link href="{{ url_for('static', filename='dist/css/basic-search.min.css') }}" rel="stylesheet" type="text/css">
{% endblock page_style %}

{% block content %}

<div class="container-fluid  d-flex justify-content-center align-items-center w-100 my-2">
    <!-- start body -->
    <div class="bailment-box pr-90px position-relative text-center w-100 h-100 ">
        <div class="book-img-back">
            <div class="text-right pt-4">
                <h3>{{ title }}</h3>
            </div>


            <div class="row h-100  pt-5 justify-content-around w-100 mx-auto">

                <!--RIGHT COLUMN -->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <form method="POST" action="">

                        {{ form.hidden_tag() }}

                        {{ macros.render_form_add_shelf_item(form.title)}}

                        {{ macros.render_form_add_shelf_item(form.isbn)}}

                        {{ macros.render_form_add_shelf_item(form.registered_date)}}

                        {{ macros.render_form_add_shelf_item(form.borrow_interval)}}



                        <div class="text-right mt-2">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">کیفیت کتاب:</label>
                                <select class="form-control form-control-add-book" id="exampleFormControlSelect1">
                                    <option>کیفیت کتاب را انتخاب کنید</option>
                                    <option>کم</option>
                                    <option>زیاد</option>
                                    <option>متوسط</option>
                                </select>
                            </div>
                        </div>
                </div>

                {{ macros.render_checkbox(form.is_availabl)}}
                {{ macros.render_checkbox(form.in_public_view)}}

                <div class="row-12 col-lg-3 mt-3 mt-lg-0 ">
                    <div class="text-center mt-2">
                        <div class="book-image-box"><img class="w-100 h-100" id="output"></div>
                        <label for="file"
                            class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none mt-2">افزودن عکس
                            کتاب</label>
                        <input type="file" id="file" class="form-control d-none" accept="image/*"
                            onchange="loadFile(event)">

                        {{ form.img(class="form-control d-none") }}
                    </div>
                </div>





            </div>
            <!-- END RIGHT COLUMN -->

            <!-- LEFT COLUMN-->
            <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0 text-right">




            </div>

            <div class="row align-items-center pb-5 justify-content-around w-100 mx-auto">


                <div class="col-12 col-lg-3 mt-3 mt-lg-0"></div>

                <!-- SUBMIT -->
                <div class="col-12 mt-3 mt-lg-0  mb-5 mb-lg-0 pb-5 pb-lg-0">
                    <div class="text-center mt-4">

                        {{ form.submit(class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none mt-2") }}
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block page_scripts %}

<script src="{{ url_for('static', filename='src/js/choices.js') }}"></script>
<script>
    var textPresetVal = new Choices('#choices-text-preset-values', {
        removeItemButton: true,
    });
</script>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

{% endblock page_scripts %}
