{% import 'macros.html' as macros %}

{% extends '/layouts/main-base.html' %}
{% block content %}

<div class="container-fluid  d-flex justify-content-center align-items-center w-100 my-2">
    <!-- start body -->
    <div class="bailment-box pr-90px position-relative text-center w-100 h-100 ">
        <div class="book-img-back">
            <div class="text-right pt-4">
                <h3>افزودن کتاب</h3>
            </div>
            <div class="row h-100  pt-5 justify-content-around w-100 mx-auto">

                <!--RIGHT COLUMN -->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                    <form method="POST" action="">

                        {{ form.hidden_tag() }}

                        <div class="text-right mt-2">
                            <label for="name">نام کتاب:</label>
                            <input type="text" id="name" class="form-control form-control-add-book">
                        </div>
                        <div class="text-right mt-2">
                            <label for="name">انتشارات:</label>
                            <input type="text" id="name" class="form-control form-control-add-book">
                        </div>
                        <div class="text-right mt-2">
                            <label for="name">ژانر:</label>
                            <input type="text" id="name" class="form-control form-control-add-book">
                        </div>
                        <div class="text-right mt-2">
                            <label for="name">زبان:</label>
                            <input type="text" id="name" class="form-control form-control-add-book">
                        </div>
                        <div class="text-right mt-2">
                            <label for="name"> تاریخ ثبت:</label>
                            <input type="text" id="name" class="form-control form-control-add-book">
                        </div>
                </div>
                <!-- END RIGHT COLUMN -->

                <!-- LEFT COLUMN-->
                <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0 text-right">
                    <div class="text-right mt-2">
                        <label for="name">نویسنده:</label>
                        <input type="text" id="name" class="form-control form-control-add-book">
                    </div>
                    <div class="text-right mt-2">
                        <label for="name">مترجم:</label>
                        <input type="text" id="name" class="form-control form-control-add-book">
                    </div>
                    <div class="text-right mt-2">
                        <label for="name">سال چاپ:</label>
                        <input type="text" id="name" class="form-control form-control-add-book">
                    </div>
                    <div class="text-right mt-2">
                        <label for="name">شابک:</label>
                        <input type="text" id="name" class="form-control form-control-add-book">
                    </div>
                    <div class="text-right mt-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">کیفیت کتاب:</label>
                            <select class="form-control form-control-add-book" id="exampleFormControlSelect1">
                                <option>کیفیت کتاب را انتخاب کنید</option>
                                <option>کم</option>
                                <option>زیاد</option>
                                <option>متوسط</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- END LEFT COLUMN-->

                <!-- COVER IMAGE-->
                <div class="col-12 col-lg-3 mt-3 mt-lg-0 ">
                    <div class="text-center mt-2">
                        <div class="book-image-box"><img class="w-100 h-100" id="output"></div>
                        <label for="file"
                            class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none mt-2">افزودن عکس
                            کتاب</label>
                        <input type="file" id="file" class="form-control d-none" accept="image/*"
                            onchange="loadFile(event)">
                    </div>
                </div>
                <!-- END COVER IMAGE-->

            </div>

            <div class="row align-items-center pb-5 justify-content-around w-100 mx-auto">

                <!-- DESCRIPTION-->
                <div class="col-12 col-lg-7 mt-3 mt-lg-0">
                    <div class="text-right mt-2">
                        <label for="name">شرح:</label>
                        <textarea type="text" rows="3" id="name" class="form-control form-control-add-book"></textarea>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-3 mt-lg-0"></div>

                <!-- SUBMIT -->
                <div class="col-12 mt-3 mt-lg-0  mb-5 mb-lg-0 pb-5 pb-lg-0">
                    <div class="text-center mt-4">
                        <a href="#" class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none mt-2">ثبت
                            کتاب</a>
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block page_scripts %}

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

{% endblock page_scripts %}
