{% extends '/layouts/error-base.html' %}

{% block error_content %}

    <div class="notfound-404">
        <div></div>
        <h1>404</h1>
    </div>
    <h2> صفحه یافت نشد :( </h2>
    <p>صفحه‌ای که به دنبال آن هستید یا حذف شده و یا<br> موقتاً از دسترس خارج شده!</p>
    <a href="{{ url_for("home_bp.index") }}">صفحه‌ی اصلی</a>

{% endblock error_content %}
