{% extends '/layouts/error-base.html' %}

{% block error_content %}

    <div class="notfound-404">
        <div></div>
        <h1>500</h1>
    </div>
    <h2> مشکلی در سرور پیش آمده :( </h2>
    <p>در حال تلاش برای رفع آن هستیم!</p>
    <a href="{{ url_for("home_bp.index") }}">صفحه‌ی اصلی</a>

{% endblock error_content %}
