{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Nerd | ورود</title>

    <link
      href="{{ url_for('static', filename='dist/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/slick.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/style.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/font/fonts.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="login-page">
    <!-- start sidebar -->
    {% include '/sidebar.html' %}
    <!-- end sidebar -->

    <div
      class="
        container
        pr-90px
        d-flex
        justify-content-center
        align-items-center
        w-100
        h-100vh
      "
    >
      <!-- start body -->
      <div class="container">
        <div
          class="log-in-box position-relative p-5 text-center width-custom-log"
        >
          <div class="mt-3">
            <span class="font-2">بازیابی گذرواژه</span>
          </div>

          <form method="POST" action="">
            {{ form.hidden_tag() }} {{ macros.render_form_field(form.email)}} {{
            form.submit(class="see-more-btn px-3 py-1 text-dark text-center
            text-decoration-none w-100 d-block") }}
          </form>
        </div>
      </div>
    </div>
    <!-- end body -->
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/slick.min.js') }}"></script>
  </body>
</html>
