{% import 'macros.html' as macros %}

{% extends '/layouts/main-base.html' %}
{% block content %}
<div class="container pr-90px">

    {% include '/components/header.html' %}

    <!-- BODY -->
    <div class="mt-3">
        <div class="top-main-page position-relative">
            <img src="{{ url_for('static', filename='img/book-rows.jpg') }}" height="1280px" width="1920px"
                class="w-100 img-top-main-page" alt="Technical Library">
            <div class="row position-about-box w-100 m-auto h-100">
                <div class="col-12 col-md-8 col-lg-6 p-1 p-md-3 p-lg-5 text-right">
                    <div class="about-box h-100 p-4">
                        <h3>درباره ‌ی ما</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right header-unit mt-5">
            <span>معرفی کتاب</span>
        </div>
        <div class="dec-book my-4" dir="ltr">
            <div class="box-dec-book px-lg-2">
                <div class="container pb-72-px">
                    <div class="row">
                        {{ macros.render_slider(books) }}

                    </div>
                </div>
            </div>
            <div class="box-dec-book px-lg-2">
                <div class="container pb-72-px">
                    <div class="row">
                        {{ macros.render_slider(books) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BODY -->
{% include '/components/footer.html' %}

{% endblock content %}
