{% extends '/layouts/main-base.html' %}
{% block content %}
<!-- BODY -->

<div class="container-fluid  d-flex justify-content-center align-items-center w-100  mt-4">
    <!-- start body -->
    <div class="bailment-box pr-90px position-relative text-center w-100 h-100">
      <div class="book-img-back">
      <div class="row h-100 py-5 mx-auto w-100">
        <div class="col-12 col-md-6 col-lg-4 mt-3">
          <div class="box-image-detail w-50 mx-auto">
            <img src="{{ item.img }}" class="w-100 mx-auto" alt="Book | کتاب">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-3 text-right">
          <div class="d-flex align-items-center mb-3">
            <img src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}" width="65" height="65" alt="account">
            <div class="d-flex box-center mr-3">
              <span>امانت دهنده:</span>
              <span class="mr-3">{{ username }}</span>
            </div>
           </div>
           <ul class="list-unstyled m-0 p-0">
            <li>اسم کتاب:</li> {{ item.title }}
            <li>نویسنده:</li> {{ item.author }}
            <li>انتشارات:</li>
            <li>مترجم:</li> {{ item.translated_by }}
            <li>سال چاپ:</li>
            <li>زبان:</li>
            <li>ژانر:</li>
            <li>تاریخ:</li>
            <li>شابک:</li>
            <li>کیفیت کتاب:</li>
            <li>شرح:</li>
          </ul>
        </div>
        <div class="col-12 col-lg-4 mt-3">
          <div class="btn-bailment mb-5 mb-lg-0">
            <a id="myButton1" onclick="change()" class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none mt-2">درخواست امانت</a>
          </div>
        </div>
        <div title="برای بستن صفحه کلیک کنید" class="popup-alert" id="popup-alert" style="display: none;" onclick="closewin()">
            <span>اطلاعات تماس:</span>
        </div>
      </div>
    </div>
  </div>
   </div>

</div>
<!-- END BODY -->
{% endblock content %}
{% block page_scripts %}
<script>
       function change()
          {
              document.getElementById("myButton1").innerHTML="انتظار تایید";
              setInterval(function() {
                $(".popup-alert").show();
              }, 5000);

          }
          function closewin()
          {

          window.close();
          self.close();
          }
</script>
{% endblock page_scripts %}
