<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    {% if title %}
    <title>Nerd | {{ title }}</title>
    {% else %}
    <title>Nerd</title>
    {% endif %}
    <!-- END TITLE -->

    <!-- MAIN STYLE -->
    <link
      href="{{ url_for('static', filename='dist/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/slick.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/css/style.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='dist/font/fonts.min.css') }}"
      rel="stylesheet"
    />
    <!-- END MAIN STYLE -->

    {% block page_style %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>
