{% import 'macros.html' as macros %}
{% extends '/layouts/main-base.html' %}
{% block content %}
<div class="container pr-90px my-4">

    
    {% include '/components/personal-profile-header.html' %}
    
 
    <div class="text-right mt-5">
        <h5>وضعیت</h5>
      </div>
       
     
    <table class="table">            
      <thead>
        <tr>
          <th>نام کاربری </th>
          <th>نام کتاب</th>
          <th>اطلاعات تماس</th>
          <th>وضعیت</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
        
            
</div> 
{% endblock content %}