{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    {% include '/layouts/head-tags.html' %}
  </head>

  <body class="login-page">
    <!-- START SIDEBAR -->
    {% include '/components/sidebar.html' %}
    <!-- end sidebar -->

    <div
      class="
        container
        pr-90px
        d-flex
        justify-content-center
        align-items-center
        w-100
        h-100vh
      "
    >
      <!-- start body -->
      <div class="container">
        <div
          class="log-in-box position-relative p-5 text-center width-custom-log"
        >
          <div class="mt-3">
            <span class="font-2">خوش آمدید</span>
          </div>
          <span>{{ macros.render_flash_msg()}}</span>
          <form method="POST" action="">
            <!-- {{ form.hidden_tag }} -->
            {{ form.hidden_tag() }}

            <!-- <div class="text-right mt-3">
            <label for="email">ایمیل:</label>
            <input type="email" id="email" class="form-control form-log-in">
          </div> -->
            {{ macros.render_form_field(form.email)}}

            <!-- <div class="text-right my-3">
            <label for="pass">کلمه عبور:</label>
            <input type="password" id="pass" class="form-control form-log-in">
          </div> -->
            {{ macros.render_form_field(form.password)}}

            <!-- <div class="custom-control custom-checkbox mt-5 text-right" >
            <input id="customCheck1" type="checkbox">
            <label for="customCheck1">فراموشم مکن</label>
          </div> -->

            <!-- <div class="mt-3">
            <a href="#" class="see-more-btn px-3 py-1 text-dark text-center text-decoration-none w-100 d-block">ورود</a>
          </div> -->
            {{ form.submit(class="see-more-btn px-3 py-1 text-dark text-center
            text-decoration-none w-100 d-block") }}

            <div class="text-center mt-4">
              <!-- <a href="#" class="text-secondary text-center text-decoration-none">حساب کاربری ندارید؟ثبت نام </a> -->
              <a
                href="{{ url_for('auth_bp.register') }}"
                class="text-secondary text-center text-decoration-none"
              >
                حساب کاربری ندارید؟ ثبت نام</a
              >
            </div>

            <div class="text-center mt-4">
              <a
                href="{{ url_for('auth_bp.forgot_password') }}"
                class="text-secondary text-center text-decoration-none"
                >فراموشی رمز عبور؟</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end body -->
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
  </body>
</html>
