{% macro render_form_field(form_field) %}
<div class="text-right my-3">
    {{ form_field.label() }}

    {% if form_field.errors %}
    {{ form_field(class="form-control form-log-in") }}
    <div class="invalid-feedback">
        {% for error in form_field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form_field(class="form-control form-log-in") }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_slider(books) %}
<div class="col-md-12 heroSlider-fixed">
    <!-- ROW SLIDER n-->
    <div class="slider responsive">
        {% for book in books  %}
        <div class="px-7">
            <a href="{{ url_for('explore_bp.book_detail', isbn=book.isbn) }}" class="text-decoration-none text-black"></a>
            <!-- <img src="assets/images/8153564537814758.jpg" height="150" width="100" -->
            <img src="{{ book.img }}" height="150" width="100" class="w-100 img-slider" alt="Book | {{ book.title }}">
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_flash_msg() %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% endmacro %}



{% macro render_form_add_shelf_item(form_field) %}
    <div class="text-right mt-2">
        {{ form_field.label() }}

        {% if form_field.errors %}
        {{ form_field(class="form-control form-control-add-book") }}
        <div class="invalid-feedback">
            {% for error in form_field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form_field(class="form-control form-control-add-book") }}
        {% endif %}
    </div>

    {% endmacro %}

    {% macro render_checkbox(form_field) %}

    <div class="custom-control custom-checkbox mt-2 text-right">

        {{ form_field(class="custom-checkbox mt-2 text-right") }}

        {{ form_field.label() }}

    </div>

{% endmacro %}

{% macro render_comments(comments) %}

    {% for comment in comments %}
    <div class="mt-3 comment-box-show">
        <div class="comment-box d-flex align-items-center">
            <a href="{{ url_for("users_bp.user_profile",  username="username_1") }}" class="text-decoration-none">
                <img class="ml-2" src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}" width="35" height="35">
            </a>
            <span class="text-secondary">نام اشتراک گزار کتاب</span>
        </div>
    </div>
    {% endfor %}

{% endmacro %}

{% macro render_private_shelf_item(item) %}

    <div class="col-12 col-md-4 px-5 text-center mt-3">
        <div class="position-relative">
            <div class="more-menu-book-btn">
                <a title="مشاهده بیشتر" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/Repeat Grid 5.png" height="25" alt="see more">
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" onclick="alertDelete()">حذف</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('profile_bp.edit_item', id=item.id) }}">ویرایش اطلاعات</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('profile_bp.archive_item', id=item.id) }}">آرشیو</a>
                </div>
            </div>
            <a href="#" class="text-decoration-none text-black">
                <img src=" {{ item.img }}" class="w-100" alt="Book | کتاب">
            </a>
        </div>
    </div>

{% endmacro %}


{% macro render_public_shelf_item(item) %}
    <div class="col-12 col-md-4 px-5 text-center mt-3">
        <div class="position-relative">
        <div class="bookmark-btn">
            <i id="bookmark-toggle3" onClick="myBookmark(3)" class="far fa-bookmark font-bookmark cursor-pointer"></i>
        </div>
            <a href="{{ url_for('users_bp.view_item', id=item.id, username=username) }}" class="text-decoration-none text-dark">
            <img src=" {{ item.img }}" class="w-100" alt="Book | کتاب">
            </a>
        </div>
    </div>
{% endmacro %}

{% macro render_form_Edith_User_info(form_field) %}
    <div class="form-group text-right mt-4">
        <div class=" text-right ">
            {{ form_field.label() }}
            {% if form_field.errors %}
            {{ form_field(class="form-control form-control-add-book") }}
            <div class="invalid-feedback">
                {% for error in form_field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form_field(class="form-control form-control-add-book") }}
            {% endif %}
        </div>
        </div>
    {% endmacro %}
