{% import 'macros.html' as macros %}
{% extends '/layouts/main-base.html' %}
{% block content %}
<!-- BODY -->
<div class="container pr-90px my-4">
    {% include '/components/personal-profile-menu.html' %}

    {% include '/components/star-rating-box.html' %}

    {% include '/components/personal-shelf.html' %}

    {% include '/components/edithinfo.html' %}

    {% include '/components/changepassword.html' %}


</div>
</div>

<!-- END BODY -->
{% endblock content %}
{% block page_scripts %}
<script>

    // *******  *******
    $(".comment-box-show").slice(0, 2).show();

    // ******* load more comments *******
    $(".btn-load-comment").on("click", function (e) {
        e.preventDefault();
        $(".comment-box-show:hidden").slice(0, 2).slideDown();
        if ($(".comment-box-show:hidden").length == 0) {
            $(".btn-load-comment").css('visibility', 'hidden');
        }
    });

    // ******* alert del *******
    function alertDelete() {
        confirm("آیا مطمئن به حذف هستید؟");
        // TODO send request to DELETE /api/users/{username}/shelf/{id}
    }

    // ******* show more shelf *******
    $(".book-chest-show").slice(0, 1).show();
    $(".btn-load-book").on("click", function (e) {
        e.preventDefault();
        $(".book-chest-show:hidden").slice(0, 1).slideDown();
        if ($(".book-chest-show:hidden").length == 0) {
            $(".btn-load-book").css('visibility', 'hidden');
        }
    });

    // ******* star rating box *******
    function checkbox() {

        var checkboxes = document.getElementsByName('stars');
        var checkboxesChecked = [];
        // loop over them all
        for (var i = 0; i < checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }
        document.getElementById("show").innerText = checkboxesChecked;
    }
    //***************uploadpic************
    $('#OpenImageUpload').click(function () {
        $('#imgupload').
            trigger('click');
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#blah").attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgupload").change(function () {
        document.getElementById("OpenImageUpload").style.display = "none";
        document.getElementById("blah").style.display = "block";
        readURL(this);
    });

    function getPicture() {
        document.getElementById("OpenImageUpload").click();
    }
</script>
{% endblock page_scripts %}
