{% import 'macros.html' as macros %} {% extends '/layouts/main-base.html' %} {%
block content %}
<!-- BODY -->
<div class="container pr-90px my-4">
  {% include '/components/public-profile-top.html' %} {% include
  '/components/public-shelf.html' %}

  <!-- include '/components/profile-comment.html' -->
</div>
<!-- END BODY -->
{% endblock content %} {% block page_scripts %}
<script>
  function myBookmark(e) {
    $("#bookmark-toggle" + e).toggleClass("far fas");
  }
  $(".comment-box-show").slice(0, 2).show();
  $(".btn-load-comment").on("click", function (e) {
    e.preventDefault();
    $(".comment-box-show:hidden").slice(0, 2).slideDown();
    if ($(".comment-box-show:hidden").length == 0) {
      $(".btn-load-comment").css("visibility", "hidden");
    }
  });
  $(".book-chest-show").slice(0, 1).show();
  $(".btn-load-book").on("click", function (e) {
    e.preventDefault();
    $(".book-chest-show:hidden").slice(0, 1).slideDown();
    if ($(".book-chest-show:hidden").length == 0) {
      $(".btn-load-book").css("visibility", "hidden");
    }
  });

  // ******* star rating box *******
  function checkbox() {
    var checkboxes = document.getElementsByName("stars");
    var checkboxesChecked = [];
    // loop over them all
    for (var i = 0; i < checkboxes.length; i++) {
      // And stick the checked ones onto an array...
      if (checkboxes[i].checked) {
        checkboxesChecked.push(checkboxes[i].value);
      }
    }
    document.getElementById("show").innerText = checkboxesChecked;
  }
</script>
{% endblock page_scripts %}
