{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    {% include '/layouts/head-tags.html' %}
  </head>

  <body class="login-page">
    <!-- START SIDEBAR -->
    {% include '/components/sidebar.html' %}
    <!-- end sidebar -->

    <div
      class="
        container
        pr-90px
        d-flex
        justify-content-center
        align-items-center
        w-100
        h-100vh
      "
    >
      <!-- start body -->
      <div class="container">
        <div
          class="log-in-box position-relative p-5 text-center width-custom-log"
        >
          <div class="mt-3">
            <span class="font-2">ثبت‌ نام</span>
          </div>
          <span>{{ macros.render_flash_msg()}}</span>
          <form method="POST" action="">
            {{ form.hidden_tag() }} {{ macros.render_form_field(form.email)}} {{
            macros.render_form_field(form.username)}} {{
            macros.render_form_field(form.password)}} {{
            macros.render_form_field(form.confirm_password)}} {{
            form.submit(class="see-more-btn px-3 py-1 text-dark text-center
            text-decoration-none w-100 d-block") }}

            <div class="text-center mt-4">
              <a
                href="{{ url_for('auth_bp.forgot_password') }}"
                class="text-secondary text-center text-decoration-none"
                >فراموشی رمز عبور؟</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end body -->
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
  </body>
</html>
