
{% import 'macros.html' as macros %}
{% extends '/layouts/main-base.html' %}
{% block content %}
<div class="container pr-90px my-4">

    
    {% include '/components/personal-profile-header.html' %}
    
   
    <div class="text-right mt-5">
        <h5>درخواست ها</h5>
      </div>
       
              
          <div class="share-book-box-show">
          <div class="detail-box row align-items-center py-2 px-3 mt-3 w-100 mx-auto">
            <div class="col-12 col-md-4 align-items-center px-2 text-center text-md-right my-3 my-md-0">
              <img src= "{{ url_for('static', filename='img/6701643057778123.jpg') }}"nwidth="35" alt="image">
              <span class="text-secondary mr-3">نام کتاب</span>
            </div>
            <div class="col-12 col-md-4 align-items-center text-center">
              <img  src="{{ url_for('static', filename='img/baseline_account_circle_black_48dp.png') }}"  >
              <span class="text-secondary mr-3">نام امانت گیرنده کتاب</span>
            </div>
            <div class="col-12 col-md-4 text-center text-md-left my-3  my-md-0">
              <a href="#" class="btn-see-detail px-4 py-2 "><i class="fas fa-check"></i></a>
              <a href="#" class="btn-see-detail px-4 py-2 "><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
        
            
    

</div>
{% block page_scripts %}
<script>
        
        $(".comment-box-show").slice(0, 2).show();
	  $(".btn-load-comment").on("click", function (e) {
		  e.preventDefault();
		  $(".comment-box-show:hidden").slice(0, 2).slideDown();
		  if ($(".comment-box-show:hidden").length == 0) {
			  $(".btn-load-comment").css('visibility', 'hidden');
		  }
	  });
	  $(".share-book-box-show").slice(0, 2).show();
	  $(".btn-load-share-book").on("click", function (e) {
		  e.preventDefault();
		  $(".share-book-box-show:hidden").slice(0, 2).slideDown();
		  if ($(".share-book-box-show:hidden").length == 0) {
			  $(".btn-load-share-book").css('visibility', 'hidden');
		  }
	  });
</script>
{% endblock page_scripts %} 

{% endblock content %}
