body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: IRANYekanFN-Medium, sans-serif;
}
.main-page {
  background: #f9f9eb;
}
.back-slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.h-100vh {
  height: 100vh;
}
/* sidebar */
.active-img {
  width: 55px;
  height: 55px;
}
@media (max-width: 767px) {
  .pr-90px {
    transition: all 0.3s ease;
  }
  .pr-4rem {
    padding-right: 1.5rem;
    transition: all 0.3s ease;
  }
  .sidebar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    z-index: 55;
    padding: 20px;
    border-radius: 45px 45px 0px 0px;
    width: 100%;
    background: #c3f5b1;
    transition: all 0.3s ease;
    align-items: center;
    box-shadow: 0px 8px 6px #3a5530;
  }
}
@media (min-width: 768px) {
  .pr-90px {
    padding-right: 90px;
    transition: all 0.3s ease;
  }
  .sidebar {
    float: right;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 20px;
    border-radius: 45px 0px 0px 45px;
    text-align: center;
    background: #c3f5b1;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 6px #3a5530;
  }
}
/* header */
input,
textarea:focus {
  outline-offset: unset;
  outline: none;
}
.box-center {
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.box-log-in {
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #707070;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: inherit !important;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 540px) {
  .w-100-540 {
    margin-top: 10px;
    width: 100%;
    transition: all 0.3s ease;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between !important;
  }
}
.form-control-search {
  display: block;
  border-radius: 10px;
  width: 275px;
  flex: 1;
  height: 35px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  color: #3d586f !important;
  background: #ffffff;
  border: 1px solid #707070;
}
.search-btn {
  top: 0;
  position: absolute;
  left: 0;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #707070;
  height: 100%;
  background-color: transparent;
  color: #000000;
  width: 35px;
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
}
.header-box {
  background: rgb(128, 127, 128);
  background: linear-gradient(
    180deg,
    rgba(128, 127, 128, 1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
  border-end-end-radius: 25px;
  border-end-start-radius: 25px;
  transition: all 0.3s ease;
}
.d-inline-flex {
  display: inline-flex;
  transition: all 0.3s ease;
}
.contact-box {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(119, 119, 119, 1) 100%
  );
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  transition: all 0.3s ease;
}
.whatsapp-text {
  font-family: Khandevane;
  font-size: 16px;
  transition: all 0.3s ease;
  background: #e1e1e1;
  border-radius: 30px;
  width: 96%;
  padding: 1px 3px;
}
.btn-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.btn-icon i {
  line-height: inherit;
}
.w-47-px {
  width: 47px !important;
}
/* body */
.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  top: 50%;
  border: solid orange;
  border-width: 3px 3px 0 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  outline: none;
  transition: all 250ms ease 0s;
  margin-top: -11px;
  z-index: 100;
}
@media (max-width: 1199.98px) {
  .slider .slick-prev,
  .slider .slick-next {
    width: 18px;
    height: 18px;
    border-width: 3px 3px 0 0;
    margin-top: -9px;
  }
}
.slider .slick-prev:hover,
.slider .slick-next:hover {
  border-color: darkorange;
}
.slider .slick-prev:active,
.slider .slick-next:active {
  border-color: coral;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  content: " ";
}
.slider .slick-prev {
  left: -60px;
  transform: rotate(-135deg);
}
@media (max-width: 1199.98px) {
  .slider .slick-prev {
    left: -25px;
  }
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
  .slider .slick-prev {
    left: -25px;
  }
}
.slider .slick-next {
  right: -60px;
  transform: rotate(45deg);
}
@media (max-width: 1199.98px) {
  .slider .slick-next {
    right: -25px;
  }
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
  .slider .slick-next {
    right: -25px;
  }
}
.slider .slick-prev.slick-disabled:before,
.slider .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slider .slick-prev {
  left: 5px;
}
@media (min-width: 577px) {
  .slider .slick-prev {
    left: 15px;
  }
}
@media (min-width: 1299.98px) {
  .slider .slick-prev {
    left: -60px;
  }
}
.slider .slick-next {
  right: 5px;
}
@media (min-width: 577px) {
  .slider .slick-next {
    right: 15px;
  }
}
@media (min-width: 1299.98px) {
  .slider .slick-next {
    right: -60px;
  }
}
.font-1rem {
  font-size: 1rem;
}
.rate {
  color: orange;
}
.rate-hover-layer {
  color: orange;
}
.img-top-main-page {
  border-radius: 50px;
  height: 500px;
  object-fit: cover;
}
.about-box {
  border-radius: 50px;
  border: 1px solid #707070;
  background-color: #ffffff27;
  color: #707070;
}
.position-about-box {
  position: absolute;
  top: 0;
}
.header-unit {
  color: #707070;
  font-size: 2rem;
}
.box-dec-book {
  background-image: url("/static/img/chest.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .img-slider {
    height: 280px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .pb-72-px {
    padding-bottom: 33px;
  }
  .img-slider {
    height: 300px;
    object-fit: cover;
    width: 210px !important;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .px-7 {
    padding-left: 4rem;
    padding-right: 4rem;
    transition: all 0.3s ease;
  }
  .pb-72-px {
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .px-7 {
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 0.3s ease;
  }
  .pb-72-px {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .px-7 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    transition: all 0.3s ease;
  }
  .pb-72-px {
    padding-bottom: 67px;
  }
}

/* footer */
.footer {
  background-color: #c3f5b130;
}

/* ------------------------------------------------------ */
/* feedback page */
.feedback-box {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 50px;
}
.table td,
.table th {
  border-top: none;
}
/* ------------------------------------------------------ */
/* log in page */
@media (min-width: 768px) {
  .sidebar-log-in {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
}
.login-page {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/static/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.log-in-box {
  background-color: #c3f5b185;
  border-radius: 50px;
}
.font-2 {
  font-size: 1.2rem;
  font-weight: bolder;
}
.form-log-in {
  border-radius: 30px !important;
}

@media (min-width: 450px) {
  .width-custom-log {
    width: 380px;
    margin: 0 auto;
  }
}
.or-text {
  width: 100%;
  text-align: center;
}

.or-text:after {
  content: "";
  background-color: #000000;
  width: 47%;
  top: 50%;
  position: absolute;
  height: 1px;
  display: block;
  right: 0;
}
.or-text:before {
  content: "";
  background-color: #000000;
  width: 47%;
  top: 50%;
  position: absolute;
  height: 1px;
  display: block;
  left: 0;
}

/* ------------------------------------------------------ */
/* profile page */
.position-chest {
  position: absolute;
  bottom: -52px;
}
.dropdown-toggle::after {
  vertical-align: middle;
}
.nav-link {
  display: block;
  padding: 0;
}
.dropdown-menu {
  background: #fffff5;
}
.bookmark-btn {
  position: absolute;
  top: 0;
  right: -25px;
}
.more-menu-book-btn {
  position: absolute;
  top: 0;
  right: -10px;
}
.border-r {
  border-right: 1px solid #707070;
}
.box-goal-star {
  width: 212px;
  align-items: center;
}
@media (max-width: 768px) {
  .box-goal-star {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .box-goal-star-lg {
    margin: 0 auto !important;
  }
}
.custom-style-star-box {
  display: flex;
  justify-content: flex-end;
}
.box-profile-setting {
  background-color: #e7fae0;
  border: 1px solid #707070;
  border-radius: 30px;
  box-shadow: 2px 10px 15px #70707070;
}
.btn-profile {
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #707070;
}
.mt-15 {
  margin-top: 10rem;
}
.see-more-btn {
  background-color: #c3f5b1;
  border-radius: 30px;
  border: 1px solid #70707050;
  color: #111111;
}
.see-more-btn:hover {
  background-color: #adf593;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;
}
.form-control-comment {
  border-radius: 20px 0 20px 20px !important;
  padding: 1.4rem 3.5rem;
}
.avatar-comment {
  position: absolute;
  right: 10px;
  border: none;
  height: 100%;
  background-color: transparent;
  color: #000000;
  width: 35px;
  height: 35px;
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.font-2rem {
  font-size: 1.5rem;
}
.send-btn {
  width: 90px !important;
  z-index: 20;
}
.bg-none {
  background-color: transparent;
}
/* ------------------------------------------------------ */
/* detail page */
.box-image-detail {
  background-color: #c3f5b150;
  border: 1px solid #70707050;
  border-radius: 30px;
  padding: 15px;
}
.deatil-box {
  background-color: #c3f5b150;
  border-radius: 30px 0 30px 30px !important;
  border: 1px solid #70707050;
  justify-content: space-between;
}
.btn-see-detail {
  background-color: #c3f5b1;
  border-radius: 20px;
  color: #707070;
  text-decoration: none;
}
.btn-see-detail:hover {
  background-color: #adf593;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;
}
/* ------------------------------------------------------ */
/* bailment page */
.bailment-box {
  background-color: #c3f5b185;
  border-radius: 50px 0 0 50px;
  border: 1px solid #70707050;
}
.btn-bailment {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .btn-bailment {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
.book-img-back {
  background-image: url("/static/img/pile.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: bottom;
  border-radius: 50px;
}
.list-unstyled li {
  margin: 10px 0;
}
.form-control-add-book {
  border-radius: 20px 0 20px 20px !important;
}
.btn-add-book-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .btn-add-book-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
/* ------------------------------------------------------ */
/* Pishnahadat page */
.smile-btn-rating-text {
  color: #383838;
}
.smile-btn-rating:checked ~ .smile-btn-rating-text {
  color: #ff00ea;
}
.frown-btn-rating-text {
  color: #383838;
}
.frown-btn-rating:checked ~ .frown-btn-rating-text {
  color: #0066ffd7;
}
.meh-btn-rating-text {
  color: #383838;
}
.meh-btn-rating:checked ~ .meh-btn-rating-text {
  color: #ff9100;
}
.fs-2 {
  font-size: 1.6rem;
}
.img-top-offer-page {
  height: 100%;
  width: 50%;
}
.offer-book-box {
  border-radius: 50px 0 0 50px;
  background-color: #e7fae0;
  color: #707070;
  box-shadow: 0px 8px 6px #3a5530;
}
.offer-book-box-into {
  border-radius: 50px 0 0 50px;
  background-color: #c3f5b1;
  color: #707070;
  box-shadow: 0px 8px 6px #3a5530;
}
.back-book-offer {
  background-image: url("/static/img/landscape_pile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .img-top-offer-page {
    height: 470px;
    width: 100%;
  }
  .offer-book-box {
    border-radius: 50px;
    background-color: #e7fae0;
    color: #707070;
    box-shadow: 0px 8px 6px #3a5530;
  }
  .offer-book-box-into {
    border-radius: 50px;
    background-color: #c3f5b1;
    color: #707070;
    box-shadow: 0px 8px 6px #3a5530;
  }
  .back-book-offer {
    background-image: url("/static/img/landscape_pile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hub-slider {
  position: relative;
}

.hub-slider ul {
  list-style: none;
}

.hub-slider ul li {
  width: 500px;
  height: 300px;
  background: #da4453;
  color: #fff;
  line-height: 300px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  left: 30px;
  top: 0;
}
@media (max-width: 768px) {
  .hub-slider ul li {
    width: 100%;
    height: 300px;
    background: #da4453;
    color: #fff;
    line-height: 300px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    left: 30px;
    top: 0;
  }
}
.hub-slider-controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.hub-slider-arrow {
  width: 40px;
  height: 40px;
  border: none;
  background: #34bc9d;
  color: #fff;
  font-weight: bold;
}
.no-btn-rating-text {
  color: #000000;
}
.no-btn-rating:checked ~ .no-btn-rating-text {
  color: #ff0000;
}
.yes-btn-rating-text {
  color: #000000;
}
.yes-btn-rating:checked ~ .yes-btn-rating-text {
  color: #006e1ca6;
}
.popup-alert {
  background: #ddf7cc;
  border: 1px solid #707070;
  padding: 40px;
  width: 75%;
  margin: 0 auto;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 40%;
}
.cursor-pointer {
  cursor: pointer;
}
.font-bookmark {
  font-size: 1.5rem;
}
.d-inline {
  display: inline;
}
.comment-box {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 20px 0 20px 20px !important;
  padding: 0.3rem 0.5rem;
}
.comment-box-show {
  display: none;
}
.book-chest-show {
  display: none;
}
.share-book-box-show {
  display: none;
}
/* ------------------------------------------------------ */
/* Add book page */
.book-image-box {
  background: #ffffff;
  width: 130px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #70707070;
}

.multi-select-button {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  border-radius: 20px 0 20px 20px !important;

  cursor: default;
}
.modal-example .multi-select-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50%;
  min-width: 0;
  overflow: auto;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 1em 3em rgba(0, 0, 0, 0.4);
}

.modal-example .multi-select-menuitem {
  font-size: 1em;
  padding: 1.5em 2.5em 1.5em 3.5em;
}

.modal-example .multi-select-menuitem + .multi-select-menuitem {
  padding-top: 0;
}

.modal-example .multi-select-menuitem input {
  margin-left: -2.5em;
}

/* multi select menu */
/* multi select menu */
/* multi select menu */

.multi-select-container {
  position: relative;
}

.multi-select-menu {
  position: absolute;
  left: 0;
  top: 1.5em;
  z-index: 1;
  float: left;
  min-width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: none;
}

.multi-select-menuitem {
  display: block;
  font-size: 0.875em;
  padding: 0.6em 2.1em 0.6em 5px;
  white-space: nowrap;
  border-bottom: 1px solid #ced4da;
}
.multi-select-menuitem:last-child {
  border-bottom: none;
}

.multi-select-menuitem--titled:before {
  display: block;
  font-weight: bold;
  content: attr(data-group-title);
  margin: 0 0 0.25em -20px;
}

.multi-select-menuitem--titledsr:before {
  display: block;
  font-weight: bold;
  content: attr(data-group-title);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
  padding-top: 0;
}

.multi-select-presets {
  border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
  position: absolute;
  margin-top: 0.25em;
  right: 12px;
}

.multi-select-button:after {
  content: "";
  left: 5px;
  top: 44%;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0 0.4em;
  border-color: #999 transparent transparent transparent;
  margin-left: 0.4em;
  vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
  display: block;
}

.multi-select-container--open .multi-select-button:after {
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
  /* Avoid border/padding on menu messing with JavaScript width calculation */
  box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
  /* Allow labels to line wrap when menu is artificially narrowed */
  white-space: normal;
}
/* stars rating */
#star-1:checked ~ .section-star [for="star-1"] svg,
#star-2:checked ~ .section-star [for="star-1"] svg,
#star-2:checked ~ .section-star [for="star-2"] svg,
#star-3:checked ~ .section-star [for="star-1"] svg,
#star-3:checked ~ .section-star [for="star-2"] svg,
#star-3:checked ~ .section-star [for="star-3"] svg,
#star-4:checked ~ .section-star [for="star-1"] svg,
#star-4:checked ~ .section-star [for="star-2"] svg,
#star-4:checked ~ .section-star [for="star-3"] svg,
#star-4:checked ~ .section-star [for="star-4"] svg,
#star-5:checked ~ .section-star [for="star-1"] svg,
#star-5:checked ~ .section-star [for="star-2"] svg,
#star-5:checked ~ .section-star [for="star-3"] svg,
#star-5:checked ~ .section-star [for="star-4"] svg,
#star-5:checked ~ .section-star [for="star-5"] svg {
  transform: scale(1);
}

#star-1:checked ~ .section-star [for="star-1"] svg path,
#star-2:checked ~ .section-star [for="star-1"] svg path,
#star-2:checked ~ .section-star [for="star-2"] svg path,
#star-3:checked ~ .section-star [for="star-1"] svg path,
#star-3:checked ~ .section-star [for="star-2"] svg path,
#star-3:checked ~ .section-star [for="star-3"] svg path,
#star-4:checked ~ .section-star [for="star-1"] svg path,
#star-4:checked ~ .section-star [for="star-2"] svg path,
#star-4:checked ~ .section-star [for="star-3"] svg path,
#star-4:checked ~ .section-star [for="star-4"] svg path,
#star-5:checked ~ .section-star [for="star-1"] svg path,
#star-5:checked ~ .section-star [for="star-2"] svg path,
#star-5:checked ~ .section-star [for="star-3"] svg path,
#star-5:checked ~ .section-star [for="star-4"] svg path,
#star-5:checked ~ .section-star [for="star-5"] svg path {
  fill: #ffbb00;
  stroke: #cc9600;
}
.section-star {
  text-align: center;
}
.section-star label {
  width: 20px;
  vertical-align: top;
  height: 20px;
  display: inline-flex;
  cursor: pointer;
}
.section-star label svg {
  width: 100%;
  height: auto;
  fill: white;
  stroke: #ccc;
  transform: scale(0.8);
  transition: transform 200ms ease-in-out;
}
.section-star label svg path {
  transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}

.section-star label[for="star-null"] {
  display: block;
  margin: 0 auto;
  color: #999;
}

.box-goal-star input {
  display: none;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
  }
  .swiper-slide-prev .swiper-slide {
    height: 0;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 300px;
  }
  .swiper-slide-next .swiper-slide {
    height: 0;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 767px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
}
.swiper-slide-prev {
  height: 0;
  opacity: 0.5;

  background-image: none !important;
}
.swiper-slide-next {
  height: 0;
  opacity: 0.5;

  background-image: none !important;
}
.swiper-slide-active {
  height: 100%;

  background-image: none !important;
}
.btn-next-slider {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.btn-next-slider-position {
  position: absolute;
  top: 0;
  left: 0;
}
.box-slide {
  border-radius: 30px;
  text-align: center;
  background: #e7fae0;
  border: 1px solid #707070;
}
.box-slide-img {
  border-radius: 30px;
  text-align: center;
  background: #c3f5b1;
  border: 1px solid #707070;
}
.img-slide-pish {
  border-radius: 30px;
}
/* edit info */
div.avatar-bg {
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
}

.avatar {
  position: relative;
  display: inline-block;
}
.avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.avatar-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: none;
}
.username-span {
  color: gray;
}

#submitBtn:disabled {
  background-color: #c3f5b130;
}

/*----swal themes---*/

[class^="select2"] {
  min-width: 100px;
  border-radius: 20px 0 20px 20px !important;
  /*    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da;*/
}

[class^="select2-container--default"] {
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
}

[class^="select2-search__field"] {
  min-width: 50px;
}

[class^="select2-dropdown"] {
  min-width: 110px;
}

@media screen and (min-width: 676px) {
  .modal-dialog {
    max-width: 800px; /* New width for default modal */
  }
}
.change-password-modal-box {
  background-color: rgba(195, 245, 177, 0.8);
  border-radius: 50px;
}
