<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Nerd | {{ err_code }}</title>

    <!-- Google font -->
    <link
      href="{{ url_for('static', filename='dist/font/fonts.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,700"
      rel="stylesheet"
    />

    <!-- Custom stlylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/dist/css/error-404.css') }}"
    />

    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="notfound">
      <div class="notfound">
        {% block error_content %} {% endblock error_content %}
      </div>
    </div>
  </body>
</html>
