<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    {% include '/layouts/head-tags.html' %} {% block page_style %} {% endblock
    page_style %}
  </head>

  <body class="main-page">
    {% include '/components/sidebar.html' %} {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.md.bootstrap.datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>

    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>
