<script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
